
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap');
body{
 background-image: url("../public/celebration.png");
  background-color: #ffffff;
}
.gradient-text{
   background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(241, 248, 198));
   background-clip : text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Spartan', sans-serif;
}

.input_button{
  right : 0;
  font-weight: bold;
}
.todo-buttons{
  color:rgb(241, 248, 198);
  font-size: 1.5rem;
}

.todo-buttons *{
box-sizing: content-box;
padding: 0.5rem;
}

.todo-buttons * :hover{
  
  cursor: pointer;
  filter: saturate(4);
}
.card-hover:hover{
  -webkit-text-fill-color: rgb(25,135,84);

}